.maps-body .border{
  border: 0.0625rem dashed #e9ecef !important;
}

.maps-body .jumbotron{
  padding: 3rem 5rem !important;
}

.maps-body input{
  opacity: 0 !important;
  font-size: 2rem !important;
  margin-left: -6rem !important;
}

.card-body .btn span, .navbar .navbar-nav>a.btn span{
  display: none !important;
}

.card-body .btn.dropdown-toggle[data-toggle="dropdown"]:after{
  margin-left: 3px !important;
}


.pagination,
.search-label{
  float: right !important;
}
.search-label{
  border-bottom: 1px solid white !important;
  border-radius: 5px !important;

}

.cluster-content{
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 2rem;
}
.leaflet-popup-content p{
  margin: 0px !important;
}

/* .modal-content{
  top: -5rem !important;
} */
.modal.show .modal-dialog{
  top: -10rem !important
}

.modal-table th,
.modal-table tbody tr td{
  color: black !important
}

.modal-backdrop.show{
  opacity: 1 !important;
}

.modal-table .react-bootstrap-table-pagination-list .page-item .page-link{
  color:black !important;
  font-size: 12px !important;
}

